streamlit==1.44.1
firebase_admin==6.7.0
cloudinary==1.44.0
numpy==1.26.4
flask==3.0.3
opencv-python-headless==4.10.0.84
ultralytics==8.3.20
pandas==2.2.3
plotly==5.24.1
Pillow==10.4.0
requests==2.32.3
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.84
deepface==0.0.93
